[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = git@github.com:dawi2332/kickstart.nvim.git
[submodule "home/.config/alacritty/themes"]
	path = home/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
